.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unselectable:hover {
  cursor: default;
}

body {
  background-color: green;
}

.board {
  margin: auto;
  position: relative;
  width: 656px;
  height: 400px;
  position: relative;
}

.row {
  clear: both;
}

.cards-block {
  height: 100px;
  float: left;
  position: relative;
}

.cards-pile {
  width: 70px;
  height: 90px;
  float: left;
  position: absolute;
}

.card-place {
  width: 60px;
  height: 90px;
  padding: 1px 5px;
  float: left;
  border: solid 1px black;
  position: absolute;
}

.card {
  background-color: white;
}

.selected-card {
  background-color: #CCFF99;
}

.draggable-pile {
  pointer-events: none;
  opacity: 0.6;
}

.controls-panel {
  position: absolute;
  top: 400px;
}

.elapsed-time {
  position: absolute;
  bottom: 20px;
}

.info-block {
  position: absolute;
  bottom: -15px;
}
