@font-face {
  font-family: 'Flubber';
  src: url('../fonts/FLUBBER_.TTF') format('truetype');
}

.font-preload{
  position: absolute;
  left: -100px;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
