div.board {
}

div.board-row {
    clear: both;
}

div.card {
    border: 1px solid black;
    width: 32px;
    height: 32px;
    float: left;
}

div.closed {
    background-image: url("../img/pic.png");
    background-repeat: no-repeat;
}

div.type0 {
    background-image: url("../img/00.png");
    background-repeat: no-repeat;
}

div.type1 {
    background-image: url("../img/01.png");
    background-repeat: no-repeat;
}

div.type2 {
    background-image: url("../img/02.png");
    background-repeat: no-repeat;
}

div.type3 {
    background-image: url("../img/03.png");
    background-repeat: no-repeat;
}

div.type4 {
    background-image: url("../img/04.png");
    background-repeat: no-repeat;
}

div.type5 {
    background-image: url("../img/05.png");
    background-repeat: no-repeat;
}

div.type6 {
    background-image: url("../img/06.png");
    background-repeat: no-repeat;
}

div.type7 {
    background-image: url("../img/07.png");
    background-repeat: no-repeat;
}

div.type8 {
    background-image: url("../img/08.png");
    background-repeat: no-repeat;
}

div.type9 {
    background-image: url("../img/09.png");
    background-repeat: no-repeat;
}

div.type10 {
    background-image: url("../img/10.png");
    background-repeat: no-repeat;
}

div.type11 {
    background-image: url("../img/11.png");
    background-repeat: no-repeat;
}

div.type12 {
    background-image: url("../img/12.png");
    background-repeat: no-repeat;
}

div.type13 {
    background-image: url("../img/13.png");
    background-repeat: no-repeat;
}

div.type14 {
    background-image: url("../img/14.png");
    background-repeat: no-repeat;
}

div.type15 {
    background-image: url("../img/15.png");
    background-repeat: no-repeat;
}

div.type16 {
    background-image: url("../img/16.png");
    background-repeat: no-repeat;
}

div.type17 {
    background-image: url("../img/17.png");
    background-repeat: no-repeat;
}

div.type18 {
    background-image: url("../img/18.png");
    background-repeat: no-repeat;
}

div.type19 {
    background-image: url("../img/19.png");
    background-repeat: no-repeat;
}

div.type20 {
    background-image: url("../img/20.png");
    background-repeat: no-repeat;
}

div.type21 {
    background-image: url("../img/21.png");
    background-repeat: no-repeat;
}

div.type22 {
    background-image: url("../img/22.png");
    background-repeat: no-repeat;
}

div.type23 {
    background-image: url("../img/23.png");
    background-repeat: no-repeat;
}

div.type24 {
    background-image: url("../img/24.png");
    background-repeat: no-repeat;
}

div.type25 {
    background-image: url("../img/25.png");
    background-repeat: no-repeat;
}

div.type26 {
    background-image: url("../img/26.png");
    background-repeat: no-repeat;
}

div.type27 {
    background-image: url("../img/27.png");
    background-repeat: no-repeat;
}

div.type28 {
    background-image: url("../img/28.png");
    background-repeat: no-repeat;
}

div.type29 {
    background-image: url("../img/29.png");
    background-repeat: no-repeat;
}

div.type30 {
    background-image: url("../img/30.png");
    background-repeat: no-repeat;
}

div.type31 {
    background-image: url("../img/31.png");
    background-repeat: no-repeat;
}

div.type32 {
    background-image: url("../img/32.png");
    background-repeat: no-repeat;
}

div.type33 {
    background-image: url("../img/33.png");
    background-repeat: no-repeat;
}

div.type34 {
    background-image: url("../img/34.png");
    background-repeat: no-repeat;
}

div.type35 {
    background-image: url("../img/35.png");
    background-repeat: no-repeat;
}
